<head>
  <title>Orchestra@home</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="style.css" />
  <script src="https://kit.fontawesome.com/d294085eea.js" crossorigin="anonymous"></script>
  <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
</head>
<body>
  <div id="buttons">
    <div id="btn-info"><i class="fas fa-info-circle"></i></div>
    <div id="btn-send"><i class="fas fa-video"></i></div>
  </div>
  <div id="modal-info" class="modal-container hidden">
    <div class="modal-inner">
      <div class="close">
        <i class="fas fa-times"></i>
      </div>
      <div class="text">
        <h1>O co chodzi?</h1>
        Nagrywamy koncert fortepianowy Kabalewskiego w wersji home office. Każdy nagrywa własną partię do tego metronomu i przesyła tutaj.

        <h2>Gdzie są nuty?</h2>
        <a href="https://drive.google.com/drive/u/0/folders/188fcBUDeGaYmi9S6ens9tQmfQUc5cMJw">Tutaj</a>

        <h2>Jak nagrać żeby było dobrze?</h2>
        <b>Przede wszystkim RÓWNO, a przede przede wszystkim nie skracać długich dźwięków.</b>
        <p>Jak jest nieczysto to mogę poprawić, jak jest nierówno to jest trudniej, a wydłużanie za krótko zagranych dźwięków to już kocioł.
        <p>Nagrywaj <b>POZIOMO</b>, tak, abyś był* w środku kadru i żeby dookoła ciebie było miejsce - żeby było z czego przycinać.
        <p>Może być nawet telefonem. Jeśli masz lepszy mikrofon to na plus, ale to nie jest konieczne.
        <p>Mile widziane śmieszkowe ubrania typu szlafroki / piżamy / maseczki w klimacie home office.

        <h2>Co zrobić z nagraniem?</h2>
        Wrzuć na Google Drive lub WeTransfer i wyślij linka przez tą stronę, w lewym górnym rogu kliknij na kamerkę.
        <b>Nie wysyłaj na grupę, bo jest tam już tyle osób, że zrobi się burdel i się w tym nie odnajdę.</b>

        <h2>Jest kilka partii dla mojego instrumentu, które nagrać?</h2>
        Umów się z innymi na grupce. Jak jesteś sam* to wszystkie xD.

        <h2>Co to za strona?</h2>
        Jest tu przygotowany metronom ze wszystkimi zmianami tempa, fermatami i oznaczeniami taktów jak w nutach.

        <h2>Czy trzeba nagrać w całości?</h2>
        Dźwięk - nie. Film - koniecznie. Polecam nagrać całość bez przerywania i potem dograć zepsute fragmenty.
        Alternatywnie najpierw nagrać wszystkie fragmenty żeby były dobrze, a potem nagrać film do całości.
        <p>
        Dlaczego tak? Bo dźwięk jest łatwo poprzesuwać i pociąć, ale na filmie przeskoki widać, a poza tym ciężej jest rozłożyć
        nagrania w przestrzeni jeśli ktoś co chwilę ma czarne okienko, bo nie nagrał całości.

        <h2>Do kiedy?</h2>
        Do 1 lipca, ale im szybciej tym lepiej.
      </div>
    </div>
  </div>
  <div id="modal-send" class="modal-container hidden">
    <div class="modal-inner">
      <div class="close">
        <i class="fas fa-times"></i>
      </div>
      <h1>Dodaj nagranie</h1>
      <div class="form-item">
        <label>Imię i nazwisko</label>
        <input id="input-name" type="text" />
      </div>
      <div class="form-item">
        <label>Partia</label>
        <select id="input-instrument">
          <optgroup label="Dęte drewniane">
            <option value="flute_1">Flet 1</option>
            <option value="flute_2">Flet 2</option>
            <option value="clarinet_1">Klarnet 1</option>
            <option value="clarinet_2">Klarnet 2</option>
            <option value="clarinet_3">Klarnet 3</option>
            <option value="oboe_1">Obój 1</option>
            <option value="oboe_2">Obój 2</option>
            <option value="bassoon">Fagot</option>
            <option value="alto_sax_1">Sax alt 1</option>
            <option value="alto_sax_2">Sax alt 2</option>
            <option value="baritone_sax">Sax baryton</option>
          </optgroup>
          <optgroup label="Dęte blaszane">
            <option value="trumpet_1">Trąbka 1</option>
            <option value="trumpet_2">Trąbka 2</option>
            <option value="trumpet_3">Trąbka 3</option>
            <option value="horn_1">Waltornia 1</option>
            <option value="horn_2">Waltornia 2</option>
            <option value="horn_3">Waltornia 3</option>
            <option value="trombone_1">Puzon 1</option>
            <option value="trombone_2">Puzon 2</option>
            <option value="trombone_3">Puzon 3</option>
            <option value="euphonium">Baryton</option>
          </optgroup>
          <optgroup label="Smyczkowe">
            <option value="violin_1">Skrzypce 1</option>
            <option value="violin_2">Skrzypce 2</option>
            <option value="viola">Altówka</option>
            <option value="cello">Wiolonczela</option>
            <option value="bass">Kontrabas</option>
          </optgroup>
          <optgroup label="Reszta">
            <option value="percussion">Perkusja</option>
            <option value="piano">Fortepian</option>
            <option value="conductor">Dyrygent</option>
          </optgroup>
        </select>
      </div>
      <div class="form-item">
        <label>Link do nagrania</label>
        <input id="input-link" type="text" />
      </div>
      <div class="form-item">
        <label>Fragment</label>
        <input id="checkbox-all" type="checkbox" checked /> Całość
        <div id="from-to">
          Od <input id="input-from" type="text" /> do <input id="input-to" type="text" />
        </div>
      </div>
      <div class="form-item">
        <button id="submit">Wyślij</button>
        <div id="spinner" style="display: none"><i class="fas fa-circle-notch fa-spin"></i></div>
      </div>
      <div id="form-error">
        Wystąpił błąd. Spróbuj ponownie później.
      </div>
      <div id="form-success">
        Wysłano.
      </div>
    </div>
  </div>
  <div id="fermata_outer">
    <div id="fermata_container">
      <div id="fermata_bar" class="hidden"></div>
    </div>
  </div>
  <div id="roll">
    <div id="cover">
      <div id="full"></div>
      <div id="gradient"></div>
    </div>
    <div id="tape"></div>
  </div>
  <div id="grid">
    <div id="controls">
      <div class="button" id="start"><i class="fas fa-play"></i><i class="fas fa-spin fa-circle-notch"></i></div>
      <div class="button" id="stop"><i class="fas fa-stop"></i></div>
      <div class="button" id="rewind"><i class="fas fa-fast-backward"></i></div>
      <div class="goto">
        <label for="bar_input">Go to bar</label>
        <input name="bar_input" type="text" id="bar_input"/>
      </div>
      <div class="button" id="goto"><i class="fas fa-angle-double-right"></i></div>
      <div class="button toggled" id="music"><i class="fas fa-music"></i></div>
    </div>
    <div id="position">
      <div id="rehearsal_mark">-</div>
      <div id="bar">-</div>
      <div id="sep"></div>
      <div id="beat">-</div>
      <div id="meter">-</div>
      <div id="tempo_note">-</div>
      <div id="eq">=</div>
      <div id="tempo"></div>
    </div>
  </div>
  <script src="main.js"></script>
</body>