* {
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: 'PG Music Font';
  src: url('music.ttf') format('truetype');
}

$music-font: 'PG Music Font';
$bg: #0e1317;

body {
  background-color: $bg;
  color: white;
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

$controls-size: 50px;
$start-color: lighten(green, 10%);
$stop-color: lighten(red, 10%);
$rewind-color: yellow;
$goto-color: cyan;
$music-color: orange;

#controls {
  text-align: center;
  $font-size: $controls-size / 2.5;

  div {
    display: inline-block;
    height: $controls-size;
    font-size: $font-size;
    vertical-align: middle;

    &.button {
      width: $controls-size;
      text-align: center;
      padding: ($controls-size - $font-size) / 2;
      border: 1px solid;
    }

    &.goto {
      margin-left: $controls-size / 1.5;
    }

    input {
      background-color: $bg;
      border: 1px solid $goto-color;
      font-size: $font-size;
      color: white;
      height: $controls-size;
      width: $font-size * 3;
      text-align: center;
    }
  }

  @mixin button($color) {
    color: $color;
    border-color: $color;

    &:hover {
      color: white;
      background-color: darken($color, 20%);
    }

    &.toggled {
      color: white;
      background-color: darken($color, 30%);

      &:hover {
        background-color: darken($color, 20%);
      }
    }
  }

  #start {
    @include button($start-color);
  }

  #stop {
    @include button($stop-color);
  }

  #rewind {
    @include button($rewind-color);
  }

  #goto {
    @include button($goto-color);
  }

  #music {
    @include button($music-color);
  }
}

$position-font-size: 60px;
$position-block-space: 20px;
$position-space: 20px;
$position-size: 3 * ($position-font-size + $position-block-space) + 2 * $position-space;
#position {
  $color: white;
  $font-size: $position-font-size;
  $space: $position-space;
  $tempo-size: $font-size * .8;
  $block-size: $font-size + $position-block-space;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 15px 2px 15px 1fr;
  grid-template-rows: $block-size $space $block-size $space $block-size;
  grid-template-areas:
    ". . note eq eq eq tempo"
    ". . . . . . ."
    "rm . beat beat sep bar bar"
    ". . . . . . ."
    ". . meter meter . . .";

  color: $color;
  font-size: $font-size;
  text-align: center;

  #rehearsal_mark, #beat, #bar, #meter {
    padding: $position-block-space / 2;
  }

  #tempo_note, #tempo, #eq {
    font-size: $tempo-size;
    color: transparentize($color, .5);
  }

  #rehearsal_mark {
    grid-area: rm;
    border: 1px solid transparentize($color, .3);
  }
  #tempo_note {
    grid-area: note;
    font-family: $music-font;
    position: relative;
    bottom: 18px;
    text-align: right;
    padding-right: 15px;
  }
  #eq { grid-area: eq; }
  #tempo {
    grid-area: tempo;
    text-align: left;
    padding-left: 15px;
  }
  #bar { grid-area: bar; }
  #beat { grid-area: beat; }
  #meter {
    grid-area: meter;
    color: transparentize($color, .6);
  }
  #sep {
    grid-area: sep;
    width: 100%;
    height: 100%;
    background-color: $color;
  }
}

#grid {
  width: 100%;
  height: 100%;

  $width: 500px;

  display: grid;
  grid-template-columns: 1fr $width 1fr;
  grid-template-rows: 3fr $controls-size 1fr $position-size 5fr;
  grid-template-areas:
    ". . ."
    ". controls ."
    ". . ."
    ". position ."
    ". . .";

  #controls {
    grid-area: controls;
  }

  #position {
    grid-area: position;
  }
}

#fermata_outer {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;

  $fermata-width: 40px;
  #fermata_container {
    position: relative;
    width: 100%;
    height: 100%;
    right: $fermata-width;

    #fermata_bar {
      position: absolute;
      width: $fermata-width;
      height: 100%;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      transition-timing-function: linear;
      transition-property: left;
      left: 0;
      top: 0;

      z-index: 999;

      &.hidden {
        display: none;
      }
    }
  }
}

#roll {
  $roll-height: 200px;
  $strong-height: 100px;
  $weak-height: 50px;
  $bar-number-size: 25px;
  $gradient-length: 300px;
  $entry-height: 30px;

  $entry-color: rgba(78, 239, 83, 0.22);

  position: absolute;
  width: 100%;
  height: $roll-height;
  left: 50%;
  bottom: 100px;
  white-space: nowrap;

  $padding-strong: ($roll-height - $strong-height) / 2;
  $padding-weak: ($roll-height - $weak-height) / 2;
  $padding-entry: ($roll-height - $entry-height) / 2;

  border-left: 3px solid greenyellow;

  #cover {
    width: 51vw;
    height: 100%;
    position: absolute;
    left: -51vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr $gradient-length;
    grid-template-areas: "full gradient";
    z-index: 9;

    #full {
      background-color: $bg;
      grid-area: full;
    }

    #gradient {
      background-image: linear-gradient(to right, $bg, rgba(0,0,0,0));
      grid-area: gradient;
    }
  }

  #tape {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;

    $barline-color: $goto-color;

    .barline {
      background-color: $barline-color;
      width: 2px;
      display: inline-block;

      &.strong {
        height: $strong-height;
        position: relative;
        margin: $padding-strong 0;

        .bar_number {
          position: absolute;
          top: - 1.5 * $bar-number-size;
          font-size: $bar-number-size;
          left: - .3 * $bar-number-size;
          color: white;

          &.rehearsal {
            font-weight: bold;
            border: 2px solid white;
            padding: 3px 10px;
            top: - 2 * $bar-number-size;
            left: - .6 * $bar-number-size;
          }
        }
      }
      &.weak {
        $padding: ($strong-height - $weak-height) / 2;
        height: $weak-height;
        margin: $padding-weak 0;
        background-color: transparentize($barline-color, .4);
      }
    }

    .entry {
      height: $entry-height;
      margin: $padding-entry 0;
      background-color: $entry-color;
      z-index: 8;
      position: absolute;
      top: 0;
    }
  }
}

.modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  &.hidden {
    display: none;
  }

  .modal-inner {
    z-index: 999;
    background-color: white;
    color: #303030;
    position: relative;
    max-height: 100%;
    overflow-y: scroll;

    padding: 0 30px 30px 30px;

    .close {
      position: absolute;
      background-color: #800;
      color: white;
      width: max-content;
      padding: 10px 15px;
      right: 0;
      top: 0;
      font-size: 20px;

      &:hover {
        background-color: lighten(#800, 20%);
      }
    }
  }
}

#buttons {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  color: darken($goto-color, 20%);
  padding: 15px;

  div {
    display: inline-block;
    padding: 10px;

    &:hover {
      color: $goto-color;
    }
  }
}

.button#start {
  .fa-spin {
    display: none;
  }

  &.loading {
    .fa-spin {
      display: block;
    }
    .fa-play {
      display: none;
    }
  }
}

#modal-send {
  .modal-inner {
    min-width: 500px;
  }

  .form-item {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type=text], select {
      background-color: #eee;
      border: 1px solid lighten(black, 50%);
      padding: 5px 10px;
      width: 100%;
    }

    #checkbox-all {
      margin-bottom: 10px;
    }

    #from-to {
      display: none;
    }

    #input-from, #input-to {
      width: 70px;
    }

    button#submit {
      padding: 10px 20px;
      border: 1px solid lighten(black, 50%);
      font-size: 20px;
    }

    #spinner {
      display: inline-block;
      margin-left: 15px;
      font-size: 30px;
    }
  }

  #form-error {
    color: red;
    display: none;
  }
  #form-success {
    color: #080;
    display: none;
  }
}