* {
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: "PG Music Font";
  src: url("music.ttf") format("truetype");
}
body {
  background-color: #0e1317;
  color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#controls {
  text-align: center;
}
#controls div {
  display: inline-block;
  height: 50px;
  font-size: 20px;
  vertical-align: middle;
}
#controls div.button {
  width: 50px;
  text-align: center;
  padding: 15px;
  border: 1px solid;
}
#controls div.goto {
  margin-left: 33.3333333333px;
}
#controls div input {
  background-color: #0e1317;
  border: 1px solid cyan;
  font-size: 20px;
  color: white;
  height: 50px;
  width: 60px;
  text-align: center;
}
#controls #start {
  color: #00b300;
  border-color: #00b300;
}
#controls #start:hover {
  color: white;
  background-color: #004d00;
}
#controls #start.toggled {
  color: white;
  background-color: #001a00;
}
#controls #start.toggled:hover {
  background-color: #004d00;
}
#controls #stop {
  color: #ff3333;
  border-color: #ff3333;
}
#controls #stop:hover {
  color: white;
  background-color: #cc0000;
}
#controls #stop.toggled {
  color: white;
  background-color: #990000;
}
#controls #stop.toggled:hover {
  background-color: #cc0000;
}
#controls #rewind {
  color: yellow;
  border-color: yellow;
}
#controls #rewind:hover {
  color: white;
  background-color: #999900;
}
#controls #rewind.toggled {
  color: white;
  background-color: #666600;
}
#controls #rewind.toggled:hover {
  background-color: #999900;
}
#controls #goto {
  color: cyan;
  border-color: cyan;
}
#controls #goto:hover {
  color: white;
  background-color: #009999;
}
#controls #goto.toggled {
  color: white;
  background-color: #006666;
}
#controls #goto.toggled:hover {
  background-color: #009999;
}
#controls #music {
  color: orange;
  border-color: orange;
}
#controls #music:hover {
  color: white;
  background-color: #996300;
}
#controls #music.toggled {
  color: white;
  background-color: #664200;
}
#controls #music.toggled:hover {
  background-color: #996300;
}

#position {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 15px 2px 15px 1fr;
  grid-template-rows: 80px 20px 80px 20px 80px;
  grid-template-areas: ". . note eq eq eq tempo" ". . . . . . ." "rm . beat beat sep bar bar" ". . . . . . ." ". . meter meter . . .";
  color: white;
  font-size: 60px;
  text-align: center;
}
#position #rehearsal_mark, #position #beat, #position #bar, #position #meter {
  padding: 10px;
}
#position #tempo_note, #position #tempo, #position #eq {
  font-size: 48px;
  color: rgba(255, 255, 255, 0.5);
}
#position #rehearsal_mark {
  grid-area: rm;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
#position #tempo_note {
  grid-area: note;
  font-family: "PG Music Font";
  position: relative;
  bottom: 18px;
  text-align: right;
  padding-right: 15px;
}
#position #eq {
  grid-area: eq;
}
#position #tempo {
  grid-area: tempo;
  text-align: left;
  padding-left: 15px;
}
#position #bar {
  grid-area: bar;
}
#position #beat {
  grid-area: beat;
}
#position #meter {
  grid-area: meter;
  color: rgba(255, 255, 255, 0.4);
}
#position #sep {
  grid-area: sep;
  width: 100%;
  height: 100%;
  background-color: white;
}

#grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 3fr 50px 1fr 280px 5fr;
  grid-template-areas: ". . ." ". controls ." ". . ." ". position ." ". . .";
}
#grid #controls {
  grid-area: controls;
}
#grid #position {
  grid-area: position;
}

#fermata_outer {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
#fermata_outer #fermata_container {
  position: relative;
  width: 100%;
  height: 100%;
  right: 40px;
}
#fermata_outer #fermata_container #fermata_bar {
  position: absolute;
  width: 40px;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  transition-timing-function: linear;
  transition-property: left;
  left: 0;
  top: 0;
  z-index: 999;
}
#fermata_outer #fermata_container #fermata_bar.hidden {
  display: none;
}

#roll {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 50%;
  bottom: 100px;
  white-space: nowrap;
  border-left: 3px solid greenyellow;
}
#roll #cover {
  width: 51vw;
  height: 100%;
  position: absolute;
  left: -51vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 300px;
  grid-template-areas: "full gradient";
  z-index: 9;
}
#roll #cover #full {
  background-color: #0e1317;
  grid-area: full;
}
#roll #cover #gradient {
  background-image: linear-gradient(to right, #0e1317, rgba(0, 0, 0, 0));
  grid-area: gradient;
}
#roll #tape {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
}
#roll #tape .barline {
  background-color: cyan;
  width: 2px;
  display: inline-block;
}
#roll #tape .barline.strong {
  height: 100px;
  position: relative;
  margin: 50px 0;
}
#roll #tape .barline.strong .bar_number {
  position: absolute;
  top: -37.5px;
  font-size: 25px;
  left: -7.5px;
  color: white;
}
#roll #tape .barline.strong .bar_number.rehearsal {
  font-weight: bold;
  border: 2px solid white;
  padding: 3px 10px;
  top: -50px;
  left: -15px;
}
#roll #tape .barline.weak {
  height: 50px;
  margin: 75px 0;
  background-color: rgba(0, 255, 255, 0.6);
}
#roll #tape .entry {
  height: 30px;
  margin: 85px 0;
  background-color: rgba(78, 239, 83, 0.22);
  z-index: 8;
  position: absolute;
  top: 0;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container.hidden {
  display: none;
}
.modal-container .modal-inner {
  z-index: 999;
  background-color: white;
  color: #303030;
  position: relative;
  max-height: 100%;
  overflow-y: scroll;
  padding: 0 30px 30px 30px;
}
.modal-container .modal-inner .close {
  position: absolute;
  background-color: #800;
  color: white;
  width: max-content;
  padding: 10px 15px;
  right: 0;
  top: 0;
  font-size: 20px;
}
.modal-container .modal-inner .close:hover {
  background-color: #ee0000;
}

#buttons {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  color: #009999;
  padding: 15px;
}
#buttons div {
  display: inline-block;
  padding: 10px;
}
#buttons div:hover {
  color: cyan;
}

.button#start .fa-spin {
  display: none;
}
.button#start.loading .fa-spin {
  display: block;
}
.button#start.loading .fa-play {
  display: none;
}

#modal-send .modal-inner {
  min-width: 500px;
}
#modal-send .form-item {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
#modal-send .form-item label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
#modal-send .form-item input[type=text], #modal-send .form-item select {
  background-color: #eee;
  border: 1px solid gray;
  padding: 5px 10px;
  width: 100%;
}
#modal-send .form-item #checkbox-all {
  margin-bottom: 10px;
}
#modal-send .form-item #from-to {
  display: none;
}
#modal-send .form-item #input-from, #modal-send .form-item #input-to {
  width: 70px;
}
#modal-send .form-item button#submit {
  padding: 10px 20px;
  border: 1px solid gray;
  font-size: 20px;
}
#modal-send .form-item #spinner {
  display: inline-block;
  margin-left: 15px;
  font-size: 30px;
}
#modal-send #form-error {
  color: red;
  display: none;
}
#modal-send #form-success {
  color: #080;
  display: none;
}

/*# sourceMappingURL=style.css.map */
